@use "./common/gutters";
@use "./common/text";
@use "./common/flex";
@use "./app";
@use "./dashboard";
@use "./stats";

@import 'https://fonts.googleapis.com/css?family=Muli:300,400,600,700';

body{
    background-color: rgb(21,21,21);
    color: white;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}